@charset "UTF-8";

body{
    margin: 0;
    padding: 0;
    font: 21px Verdana;
    text-align: center;
}

.wrap{
    margin: 0 auto;
    width: 1624px;
    padding: 60px 0px;
}

h1, h2{
    margin: 0;
}

header>section.wrap{
    background-image: linear-gradient(to bottom, seagreen, hsl(146, 50%, 60%));
}

main>section.wrap{
    background-image: linear-gradient(to bottom, sienna, hsl(19, 56%, 60%));
}

main>article.wrap{
    background-image: linear-gradient(to bottom, skyblue, hsl(197, 71%, 78%));
}

p{
    width: 80ch;
    display: inline-block;
}
